<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">
    <select id="selectAdminByAccount" resultType="pojo.Admin" parameterType="String">
        select `adminAccount`,`adminPassword`,`adminName` from admin_tab
        where `adminAccount` like #{adminAccount}
    </select>
</mapper>