<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AlbumMapper">
    <select id="selectAllAlbum" resultMap="selectAlbumMap">
        select `album_tab`.`albumId`,`album_tab`.`albumName`,`singer_tab`.`singerName`,`album_tab`.`year`,
               `album_tab`.`albumImgId`
        from `album_tab` inner join `singer_tab`
        on `album_tab`.`singerId` = `singer_tab`.`singerId`
    </select>
    <select id="selectAlbumByName" resultType="pojo.Album" parameterType="String">
        select `albumId` from `album_tab` where `albumName` like #{albumName}
    </select>
    <select id="selectAllAlbumCount" resultType="Integer">
        select count(`albumId`) from `album_tab`
    </select>
    <select id="selectAlbumByPara" resultMap="selectAlbumMap">
        select `albumId`,`albumName`,`singerId`,`year`,`albumImgId` from `album_tab`
        <where>
            <if test="albumId != null and albumId != ''">
                and `albumId` = #{albumId}
            </if>
            <if test="albumName != null and albumName != ''">
                and `albumName` like concat(#{albumName},'%')
            </if>
            <if test="singerId != null and singerId != ''">
                and `singerId` = #{singerId}
            </if>
            <if test="year != null and year != ''">
                and `year` = #{year}
            </if>
        </where>
    </select>
    <insert id="insertAlbum">
        insert into `album_tab`(`albumName`,`singerId`,`year`,`albumImgId`)
        values (#{albumName},#{singerId},#{year},#{albumImgId})
    </insert>
    <update id="updateAlbumInfo">
        update `album_tab`
        <set>
            <if test="albumName != null and albumName != ''">
                `albumName` = #{albumName},
            </if>
            <if test="year != null and year != ''">
                `year` = #{year},
            </if>
            <if test="albumImgId != null and albumImgId != ''">
                `albumImgId` = #{albumImgId},
            </if>
        </set>
        where `albumId` = #{albumId}
    </update>
    <resultMap id="selectAlbumMap" type="pojo.Album">
        <id property="albumId" column="albumId"/>
        <result property="albumName" column="albumName"/>
        <result property="year" column="year"/>
        <result property="albumImgId" column="albumImgId"/>
        <association property="singer" javaType="pojo.Singer">
            <id property="singerId" column="singerId"/>
            <result property="singerName" column="singerName"/>
        </association>
    </resultMap>
</mapper>