<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
    <select id="selectAllUser"></select>
    <select id="selectUserByAccount" parameterType="String" resultType="pojo.User"></select>
    <select id="selectUserCount" resultType="Integer"></select>
    <insert id="insertUser" parameterType="">
        insert into `user_tab`
        <set>
            <if test=""></if>
        </set>
    </insert>
</mapper>